.header {
    border-bottom: 1px solid black;
    height: 60px;
    flex-direction: row;
    display: flex;
    background: #1A1A1B;
}

.headerLeft > h1 {
    margin-top: 10px;
    margin-left: 3px;
    color: tomato;
}

.headerLeft > h1:hover {
    color: red;
    cursor: pointer;
}

.headerMiddle {
    flex-direction: row;
    display: flex;
    flex: 0.80;
    transition: flex 0.2s;
}

.headerMiddle > input {
    flex: 0.80;
    margin-left: 20px;
    margin-top: 10px;
    height: 38px;
    border-radius: 20px;
    border: none;
    background: #343536;
    color: white; 
    font-size: 17px;
    transition: flex 0.2s;
}

.headerMiddle:hover {
    flex: 1;
}

.headerMiddle > input:hover {
    border: 1px solid white;
    background: #1A1A1B;
    flex: 1;
}

.headerMiddle > input:focus {
    outline: 0;
    width: 1100px;
    flex: 1;
}

.headerMiddle:focus {
    flex: 1;
}

.headerRight > .MuiSvgIcon-root {
    color: white;
    height: 30px;
    width: 30px;
    margin: 5px;
    margin-right: 10px;
    margin-top: 15px;
}

.headerRight > .MuiSvgIcon-root:hover {
    background: #343536;
    border-radius: 10px;
}

.headerProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}

.headerProfile:hover {
    background: #343536;
    border-radius: 20px;
    cursor: pointer;
}

.headerProfile > h4 {
    color: whitesmoke;
    margin-left: 10px;
}

.headerProfile > .MuiSvgIcon-root {
    color: #fff;
    margin-left: 25px;
}